<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">

<head>

	<head>
	  <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" />
	</head>

	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>My Blog</title>

	<style>


	*{
		font-family: 'Roboto', sans-serif;
	}

	.flex-container {
	  display: flex;
	  background-color: DodgerBlue;
	}

	.flex-container>div {
	  background-color: #f1f1f1;
	  margin: 10px;
	  padding:20px;
	  font-size: 30px;
	}

	a.read-on-attribs{
		font-size:15px;
	}

	div.post-attribs{
		width: 90%;
		box-shadow: 10px 10px 20px #888888;
		margin-left: 40px;
		margin-bottom: 35px;
	}

	div.fugu-world{
		background-color: brown;
		background-size: 100% 100%;

	}

	h1.name-attribs{
		font: 400 60px/1.2 'Merienda One', Helvetica, sans-serif;
  	color: white;

	}

	h3.post-title-attribs{
		color:rgb(64,64,64);
		font-size: 25px;
	}

	img.fugu-attribs{
		width:87%;
	}

	img.santa-hat-attribs{
		position:absolute;
		width:30%;
		left:15px;
		top:-62px;
	}

	img.snowing-attribs{
		position:absolute;
		width:50%;
		height:100%;
		left:0px;
	}

	p.date-attribs{
		color:#808080;
		font-size: 12px;
	}

	p.post-content-attribs{
		color:#808080;
		font-size: 15px;
	}

	p.my-title-attribs{
		color:#808080;
		font-size:22px;
	}

	</style>

	<link rel="stylesheet" href="stylesheets/foundation.css">
	<link href='https://fonts.googleapis.com/css?family=Merienda+One' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

</head>

<body>
<!--
	<audio src="music/santa-claus-is-coming-town.mp3" autoplay>
		<p>If you are reading this, it is because your browser does not support the audio element.     </p>
	</audio>
-->
	<div class="grid-x">
	  <div class="small-6 cell large-6 fugu-world">

			  <img id = "fugu-fish" src="images/fugu.png" class="fugu-attribs">
				<img id = "santa-hat" src="images/santahat.png" class="santa-hat-attribs">
				<img src="images/gifs/snowing2.gif" class="snowing-attribs"/>
				<div style="text-align:center">
					<h1 class="name-attribs"> garland zhang </h1>
					<p class="my-title-attribs"> <b>TOOTSIE ROLL</b> </p>
					<p> I'm a banana inside an orange apple. </p>
					<p>See what I'm doing on <a href="https://github.com/GarlandZhang">GitHub</a> or add me on <a href="https://www.linkedin.com/in/zhijia-zhang-745979148/">LinkedIn</a>.</p>
				</div>

		</div>

	  <div class="small-6 cell large-6">

			<a href="/write">Write</a>

			<% for(var i=0; i < posts.length; i++) { %>

				<% var raw_date = posts[i].timestamp;
				 var day = ("" + raw_date).split(" ")[ 2 ];
				 var month = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"][raw_date.getMonth()];
				 var post_date = (day + ' ' + month + ' ' + raw_date.getFullYear()).toUpperCase();
				 %>

				 <%

				 function truncate(str, maxLength, suffix)
					{
					    if(str.length > maxLength)
					    {
					        str = str.substring(0, maxLength + 1);
					        str = str.substring(0, Math.min(str.length, str.lastIndexOf(" ")));
					        str = str + suffix;
					    }
					    return str;
					}

				 %>

				 <%

				 var date_name = "date" + i;
				 var title_name = "title" + i;
				 var content_name = "content" + i;

				 %>

				<div class="small-3 cell large-3 post-attribs">

					<p class="date-attribs" name=<%= date_name %>> <b> <%= post_date %> </b> </p>
					<h3 class="post-title-attribs" name=<%= title_name %>> <b> <%= truncate(posts[i].title.charAt(0).toUpperCase() + posts[ i ].title.slice(1).substring(0,100), 100, "...") %> </b> </h1>
					<p class="post-content-attribs"name=<%= content_name %>> <%= truncate(posts[i].content.substring(0, 200), 200, "...") %> </p>
					<a class="read-on-attribs" href=<%= "blog-post/" + posts[i].timestamp.getTime() %>>More</a>

				</div>

			<% } %>

		</div>
	</div>
</body>
</html>
